h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace

  }
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Sofia+Sans+Condensed:wght@1&display=swap');
  h2{
   font-family: 'Kanit', sans-serif;
  }

  img{
    width: 300px;
    
  }
  #coelho{
    height: 390px;
  }
  #barco{
 width: 400px;
  }
  #corrida{
    width: 400px;
  }
  
  header{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: rgb(120, 151, 218);
 }
 .link{
    margin-left: 20px;
    text-decoration: none;
 }
 button{
    background-color: aliceblue;
    border-radius: 40px;
    box-shadow: 3.14px 3.14px 4px;
 }
 body{
   background-color: rgb(229, 184, 184);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 32px;

 }
 p{
   font-family: 'Sofia Sans Condensed', sans-serif;
   text-align: center;
 }
 main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   width: 1000px;
  background-color: rgb(247, 117, 117);
 }
 .jogos{
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-evenly;

 }
 .jogo{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px;
   width: 400px;
 }
 footer{
   display: flex;
   justify-content: end;
   justify-content: end;
   align-items: end;
   padding-right: 4px;
 }
 .git{
   width: 50px;
   border-radius: 90px;
   border-image: 20px;

 }


 .jogoimg:hover{

scale: 1.1;
 }

 div:hover :not(:hover){
  opacity: 0.7;
 }

 a:visited{
  color: rgb(12, 187, 236);
 }

 a{
  text-decoration: none;
 }