h1{
    color: rgb(219, 94, 22);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  img{
    width: 400px;
  }
  header{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(229, 184, 184);
 }
 .link{
    margin-left: 20px;
    text-decoration: none;
 }
 button{
    background-color: aliceblue;
    border-radius: 40px;
    box-shadow: 3.14px 3.14px 4px;
 }